<!DOCTYPE html>
{% extends 'base_generic.html' %} {% block title %}Signup for the Library
System{% endblock %} {% block content %}
<div class="container mt-4">
  <h1>Sign Up</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="role">Role: (For Testing Purposes)</label>
      <select name="role" id="role" class="form-control" required>
        <option value="Student">Student</option>
        <option value="Tutor">Tutor</option>
        <option value="Administrator">Administrator</option>
      </select>
      {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
{% endblock %}
